.frame {
    grid-column: content;
    grid-row: content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}


.item {
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;

    &>span {
        width: 100%;
        height: 100%;
        display: block;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.portrait {
        grid-row: span 2;
    }

    &.landscape {
        grid-column: span 2;
    }
}