.section {
    min-height: 50vh;
    transition: min-height 0.3s ease-in-out;

    @media (min-width: 1024px) {
        min-height: 100vh;
    }
}

.frame {
    position: relative;
    max-height: 100%;
    width: 100%;
    color: white;
    will-change: transform;

    display: grid;
    grid-template-rows: minmax(50%, auto) 1fr;
    grid-template-columns: auto;
    align-items: center;

    margin-bottom: 50%;

    @media (min-width: 1024px) {
        margin-bottom: 30%;
    }
}

.foreground {
    position: absolute;
    inset: 0;
    object-fit: fill;
    z-index: 5;
    will-change: transform;
}

.midground {
    position: absolute;
    inset: 0;
    object-fit: fill;
    z-index: 0;
    will-change: transform;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: blur(8px);
    transition: opacity 600ms ease-in-out, filter 300ms ease-in-out;
}

.image.loaded {
    opacity: 1;
    filter: blur(0);
}

.actions {
    align-self: self-start;
    display: flex;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    transform: translateX(0%) translateY(100%);
    transition: opacity 0.3s ease-out, transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.actions.visible {
    opacity: 1;
    transform: translateX(0%) translateY(0);
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translateX(0%) translateY(100%);
    }

    60% {
        opacity: 1;
        transform: translateX(0%) translateY(-10%);
    }

    80% {
        transform: translateX(0%) translateY(5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%) translateY(0);
    }
}

.actions.animate {
    animation: bounceIn 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}