.frame {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 0.6fr));
    gap: var(--size-500);
    padding: var(--size-500);
    max-height: 100%;
    margin-inline: auto;

    outline: 1px dashed yellow;
}

.card {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 21px;
}

.columns-1 {
    grid-template-columns: repeat(1, 1fr);
}

.columns-2 {
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.columns-3 {
    grid-template-columns: repeat(3, 1fr);
}


.content {
    max-width: var(--layout-md);
}

.gutter {
    max-width: var(--layout-lg);
}

.full {
    max-width: 100%;
}