.frame {
    @apply relative;
}

.videoContainer {
    @apply relative;
}

.overlay {
    @apply absolute inset-0 z-10 flex items-center;
}

.content {
    @apply max-w-7xl mx-auto px-4 lg:px-8 text-white;
    max-width: 460px;
}

.subtitle {
    font-size: 40px;
    font-family: 'Aeonik', system-ui, sans-serif;
    font-weight: 400;
}

.title {
    font-weight: 300;
    font-size: 16px;
    font-family: 'Roboto Mono', system-ui, sans-serif;
    text-transform: uppercase
}

.video {
    @apply w-full h-screen object-cover;
}