.container {
    min-height: 100vh;
    background-color: rgb(var(--color-background-secondary));
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .wrapper {
        max-width: 100%;
        padding: 1rem;
        padding-top: 5rem;
    }

    .staffGrid {
        margin-top: 2rem;
        gap: 1.5rem;
    }
}