.frame {
    position: relative;
    height: 300vh;
    color: rgb(var(--color-white));

    svg {
        transform-origin: center;
        transition: transform 0.1s ease-out;
        overflow: visible;
        position: absolute;
        left: -1000px;
    }
}

.wrapper {
    position: sticky;
    top: 0;
    max-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('/images/speckled-gradient-blue.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(260px, 50%));
}

.content {
    position: relative;
    width: 60%;
    height: 100%;
}