.frame {
    display: flex;
    position: relative;
    margin-inline: auto;
    align-items: center;

    outline: 2px dashed orange;
}

.content {
    max-width: var(--layout-md);
    min-height: var(--layout-md);
}

.gutter {
    max-width: var(--layout-lg);
    min-height: var(--layout-lg);
}

.full {
    max-width: 100%;
}