.frame {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.title {
    font-weight: 300;
    font-size: 16px;
    font-family: 'Roboto Mono', system-ui, sans-serif;
    text-transform: uppercase
}

.description {
    font-size: 40px;
    font-family: 'Aeonik', system-ui, sans-serif;
    font-weight: 400;
}