.frame {
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    max-width: var(--full-width);
    margin-inline: auto;
    gap: var(--size-500);
    padding: var(--size-500);
}

.description {
    font-size: var(--size-900);
    font-family: 'Aeonik', system-ui, sans-serif;
    font-weight: 400;
}