.frame {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: var(--size-600);
    padding: var(--size-900);
    margin: 0 auto;
    justify-items: center;

    @media screen and (min-width: 1024px) {
        padding: 7rem var(--size-500);
    }
}

.align-top {
    align-items: start;
}

.width-content {
    max-width: var(--layout-md);
}

.width-gutter {
    max-width: var(--layout-lg);
}

.width-full {
    max-width: 100%;
}

.height-full {
    height: 100%;
}

.height-auto {
    height: auto;
}

.height-content {
    min-height: var(--layout-md);
}

.height-gutter {
    min-height: var(--layout-lg);
}

.columns-2 {
    grid-template-columns: repeat(2, 1fr);
}