.frame {
    position: relative;
    display: grid;
    grid-template-columns: [full-start] 1fr [gutter-start] minmax(0px, 64px) [content-start] minmax(240px, 960px) [content-end] minmax(0px, 64px) [gutter-end] 1fr [full-end];
    grid-template-rows: [full-start] 1fr [gutter-start] minmax(0px, 64px) [content-start] auto [content-end] minmax(0px, 64px) [gutter-end] 1fr [full-end];
    max-height: 100vh;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:has(.video) {
        height: 100vh;
    }
}

.padded {
    padding: var(--size-900);
}

.full {
    width: 100%;
    height: 100vh;
}


.video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}