.frame {
    width: 100%;
    display: block;
}

.none {
    height: 0;
}

.tight {
    /* Header: 14px padding + 22px logo + 0.6rem menu padding = ~50px */
    height: 50px;
}

.base {
    /* Header: 14px top + 14px bottom + 22px logo + 0.6rem*2 menu padding = ~69px */
    height: 92px;

    @media screen and (min-width: 768px) {
        height: 162px;
    }
}

.loose {
    /* Header height * 1.5 */
    height: 103.5px;
}