.frame {
    color: inherit;
    font-size: 19px;
    font-weight: 300;
    font-family: 'Aeonik', system-ui, sans-serif;
}

.heading {
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    font-family: 'Aeonik', system-ui, sans-serif;
}

.subtitle {
    font-size: 40px;
    line-height: 46px;
    font-family: 'Aeonik', system-ui, sans-serif;
    font-weight: 400;
}

.microcopy {
    font-size: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.blurIn {
    animation: none;

    /* Only animate if user hasn't requested reduced motion */
    @media (prefers-reduced-motion: no-preference) {
        animation: blurIn 1s 0s linear forwards;
    }
}

@keyframes blurIn {
    0% {
        opacity: 0;
        filter: blur(10px);
    }

    50% {
        opacity: 0.6;
        filter: blur(6px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}