@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/aeonik/AeonikTRIAL-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/aeonik/AeonikTRIAL-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/aeonik/AeonikTRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/aeonik/AeonikTRIAL-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/aeonik/AeonikTRIAL-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/aeonik/AeonikTRIAL-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Moderna';
    src: url('/fonts/moderna/Moderna.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        font-family: 'Aeonik', system-ui, sans-serif;
    }

    body {
        @apply text-onyx bg-white;
        background-color: #f9fafb;
    }

    /* Remove default margins and paddings */
    * {
        @apply box-border;
    }
}

@layer utilities {
    .ff-roboto {
        font-family: 'Roboto', sans-serif;
    }

    .ff-aeonik {
        font-family: 'Aeonik', system-ui, sans-serif;
    }

    .ff-moderna {
        font-family: 'Moderna', system-ui, sans-serif;
    }

    /* Global utility classes that don't belong to specific components */
    .notanim {
        /* Placeholder for animations that are disabled */
    }
}

input {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: all 200ms;
    border: 1px solid rgb(var(--color-primary) / 0.2);

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgb(var(--color-primary));
        border-color: rgb(var(--color-primary));
    }

    &::file-selector-button {
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 100vw;
        border: none;
        font-size: 0.875rem;
        font-weight: 500;
        background-color: rgb(var(--color-primary));
        color: rgb(var(--color-white));
        transition: all 200ms;
    }

    &:hover::file-selector-button {
        background-color: rgb(var(--color-primary) / .3);
    }
}

textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: all 200ms;
    border: 1px solid rgb(var(--color-primary) / 0.2);
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgb(var(--color-primary));
        border-color: rgb(var(--color-primary));
    }
}