:root {
    font-family: 'Aeonik', system-ui, sans-serif;

    --content-width: 960px;
    --gutter-size: 64px;

    --layout-md: 960px;
    --layout-lg: calc(var(--layout-md) + var(--gutter-size) * 2);
    --layout-xl: calc(var(--layout-lg) + 2 * var(--gutter-size));

    --color-white: 255 255 255;
    --color-black: 0 0 0;

    --color-primary: 0 0 0;

    --color-accent: 63 89 228;

    --color-secondary: 229 229 229;

    --color-foreground: 23 23 23;
    --color-background: 255 255 255;
    --color-background-secondary: 249 250 251;
    --color-background-tint: 246 241 231;

    --color-slate: 15 23 42;

    --size-100: 4px;
    --size-200: 8px;
    --size-300: 11px;
    --size-400: 13px;
    --size-500: 16px;
    --size-600: 19px;
    --size-700: 21px;
    --size-800: 24px;
    --size-900: 26px;

    --text-xs: 0.75rem;
    --text-sm: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.75rem;
    --text-2xl: 3rem;

    --radius-100: 0.25rem;
    --radius-200: 0.375rem;
    --radius-300: 0.5rem;
    --radius-400: 0.625rem;
    --radius-500: 0.75rem;
    --radius-600: 0.875rem;
    --radius-700: 1rem;
    --radius-800: 1.125rem;
    --radius-900: 1.25rem;

    @media (min-width: 1024px) {
        --size-200: 10px;
        --size-300: 12px;
        --size-400: 14px;
        --size-500: 16px;
        --size-600: 21px;
        --size-700: 28px;
        --size-800: 32px;
        --size-900: 42px;

        --text-xs: 1rem;
        --text-sm: 1.125rem;
        --text-md: 1.35rem;
        --text-lg: 1.75rem;
        --text-xl: 2.5rem;
        --text-2xl: 4rem;
    }

    font-size: var(--text-sm);
}