:root {
    --content-width: 960px;
    --gutter-size: 64px;

    --layout-md: 960px;
    --layout-lg: calc(var(--layout-md) + var(--gutter-size) * 2);
    --layout-xl: calc(var(--layout-lg) + 2 * var(--gutter-size));

    --color-white: 255 255 255;
    --color-black: 0 0 0;

    --color-primary: 0 0 0;

    --color-accent: 63 89 228;

    --color-secondary: 229 229 229;

    --color-foreground: 23 23 23;
    --color-background: 255 255 255;
    --color-background-tint: 246 241 231;

    --color-slate: 15 23 42;

    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 18px;
    --text-lg: 24px;
    --text-xl: 32px;

    --size-100: 4px;
    --size-200: 8px;
    --size-300: 11px;
    --size-400: 13px;
    --size-500: 16px;
    --size-600: 19px;
    --size-700: 21px;
    --size-800: 28px;
    --size-900: 32px;

    @media (min-width: 1024px) {
        --size-200: 10px;
        --size-300: 12px;
        --size-400: 14px;
        --size-500: 16px;
        --size-600: 21px;
        --size-700: 28px;
        --size-800: 32px;
        --size-900: 42px;
    }
}