.frame {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    overflow: visible;
    height: 100%;

    @media (max-width: 767px) {
        display: none;
    }

    li {
        flex: 1 1 0%;
        height: 100%;
        overflow: hidden;
        transition: flex-basis 320ms cubic-bezier(0.4, 0, 0.2, 1), opacity 320ms cubic-bezier(0.4, 0, 0.2, 1);
        will-change: flex-basis, opacity;
        opacity: 1;
    }

    &:hover li:not(:hover) {
        opacity: 0;
    }
}