.frame {
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40vh;
    max-height: 70vh;
    min-width: 100%;
    display: flex;
    padding: 0;

    @media (min-width: 1024px) {
        aspect-ratio: 16 / 9;
        padding: 21px;
    }
}