.frame {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 960px) 1fr;
    grid-template-rows: 1fr auto 1fr;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40vh;
    max-height: 70vh;
    min-width: 100%;
    display: flex;
    padding: 0;

    @media (min-width: 1024px) {
        aspect-ratio: 16 / 9;
        padding: 21px;
    }
}

.content {
    grid-column: 2/3;
    grid-row: 2/3;
}