.frame {
    aspect-ratio: 1/1;
    border-radius: 21px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 21px;
}