.frame {
    /* aspect-ratio: 9 / 16; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 21px;
    max-width: 100%;
    max-height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 21px;
}