.frame {
    display: flex;
    flex-direction: column;
}

.spacing-none {
    gap: 0;
}

.spacing-tight {
    gap: var(--size-300);
}

.spacing-base {
    gap: var(--size-500);
}

.spacing-loose {
    gap: var(--size-900);
}

.padding-none {
    padding: 0;
}

.padding-tight {
    padding: var(--size-300);
}

.padding-base {
    padding: var(--size-500);
}

.padding-loose {
    padding: var(--size-900);
}

.align-center {
    align-items: center;
}

.align-right {
    align-items: flex-end;
}