.invert {
    color: rgb(var(--color-white));
}

.glass {
    position: relative;
    color: rgb(var(--color-white));
    display: grid;
    grid-auto-flow: row;
    z-index: 1;
    padding: var(--size-600);
    /* gap: var(--size-600); */
    transition: border-radius 300ms ease, padding 300ms ease, gap 300ms ease;

    @media (min-width: 1024px) {
        padding: var(--size-900);
        border-radius: var(--size-900);
        /* gap: var(--size-900); */
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background: rgba(255, 255, 255, 0.2);
        border-radius: var(--size-100);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.8px) saturate(140%);
        border: 1px solid rgba(255, 255, 255, 0.35);
    }
}

.content {
    max-width: var(--layout-md);
    margin-inline: auto;
}

.gutter {
    max-width: var(--layout-lg);
    margin-inline: auto;
}

.full {
    max-width: 100%;
}

.left {
    text-align: left;
    align-items: start;
}

.center {
    text-align: center;
    align-items: center;
}

.right {
    text-align: right;
    align-items: end;
}