.frame {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 14px;
    background-color: transparent;
    z-index: 100;

    ul li {
        list-style: none;
    }

    @media (min-width: 768px) {
        padding: 40px;
    }
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--layout-xl);
    margin-inline: auto;
}

.menuOverlay {
    position: fixed;
    top: 96px;
    left: 1rem;
    right: 1rem;
    background-color: white;
    border-radius: 1.5rem;
}

.actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    padding: 1rem;
    gap: 1rem;
}

.menuContent {
    display: grid;
    padding: 1.5rem;
    gap: 1.5rem;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 22px;

    @media (min-width: 768px) {
        height: 34px;
    }

    img,
    svg {
        height: 100%;
        width: auto;
        object-fit: contain;
        fill: currentColor;
        transition: fill 200ms ease;
    }
}

.overlay {
    position: relative;
    border-radius: 100vw;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -2;
        backdrop-filter: blur(6px) saturate(120%);
        mask: radial-gradient(ellipse farthest-side, black 60%, transparent 100%);
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: rgb(var(--color-background) / .2);
        backdrop-filter: blur(8px) saturate(120%);
        border-radius: 100vw;
        box-shadow:
            0 4px 30px rgba(0, 0, 0, 0.1),
            0 0 0 1px rgba(255, 255, 255, 0.25),
            -1px -1px 0 0px rgba(255, 255, 255, 0.45),
            1px 1px 0 0px rgba(0, 0, 0, 0.085);
    }
}

.mobile {
    color: rgb(var(--color-black));

    @media (min-width: 768px) {
        display: none;
    }
}

.menu {
    display: flex;
    align-items: center;
    color: rgb(var(--color-black));
    padding: 0.6rem;

    &.padded {
        padding: 1.1rem;
        gap: 2.4rem;
    }

    .list {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .item {
        height: 100%;
        display: flex;
    }

    nav {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 6px 14px;
    font-family: 'Aeonik', system-ui, sans-serif;
    border-radius: 100vw;
    font-size: 1.025rem;
    font-weight: 500;
    color: rgb(var(--color-black));
    line-height: 140%;
    letter-spacing: 0.0125rem;
    border: 1px solid transparent;
    transition: color 200ms ease, background-color 200ms ease, border-color 200ms ease;
    text-wrap: nowrap;

    &:hover {
        border-color: rgba(var(--color-white) / 0.25);
        background-color: rgba(var(--color-white) / 0.15);
    }

    &.selected {
        color: rgb(var(--color-black));
        background-color: rgb(var(--color-white));
    }

    &.primary:hover {
        background-color: rgb(var(--color-white));
        border-color: transparent;
    }

    &.accent {
        color: rgb(var(--color-white));
        background-color: rgb(var(--color-accent));
        border-color: transparent;
    }
}