.frame {
  position: relative;
  width: 100%;
  display: block;
  border-radius: 21px;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.player {
  width: 100%;
  height: 100%;
  display: block;
}