.frame {
    grid-column: content;
    grid-row: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 0.6fr));
    gap: var(--size-500);
    padding: var(--size-500);
    max-height: 100%;
}

.content {
    grid-column: content;
    grid-row: content;
    max-width: var(--layout-md);
}

.gutter {
    grid-column: gutter;
    grid-row: content;
    max-width: var(--layout-lg);
}

.full {
    grid-column: full;
    grid-row: content;
    max-width: 100%;
}

.card {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 21px;
}