.frame {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-slate));
    padding: var(--size-900);

    * {
        outline: 1px solid red;
    }
}

.wrap {
    width: 100%;
    max-width: var(--layout-xl);
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

.logo {
    display: flex;
    align-items: center;
    color: rgb(var(--color-white));
    height: 46px;

    svg,
    img {
        height: 100%;
        width: auto;
        object-fit: contain;
        fill: currentColor;
        transition: fill 200ms ease;
    }
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 21px; */
}

.rightColumn {
    display: grid;
    /* gap: 21px; */
}

.navigation {
    display: grid;

    .list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* gap: 21px; */
    }

    .link {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 300;
        transition: filter 200ms ease;

        &:hover {
            filter: blur(2px);
        }
    }
}