.frame {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-slate));
    padding: var(--size-900);
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.contain {
    max-width: var(--layout-md);
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    color: rgb(var(--color-white));
    min-width: 244px;
    max-width: 488px;
    height: 100%;

    svg,
    img {
        height: 100%;
        width: auto;
        object-fit: contain;
    }
}

.leftColumn {
    flex: 2 2 244px;
    display: grid;
    padding: 1rem;
    /* gap: 21px; */
}

.navigation {
    flex: 3 3 488px;
    flex-shrink: 3;
    display: grid;

    .list {
        height: min-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        padding: 1rem;
        gap: 1rem;

        @media (min-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
        }
    }
}

.link {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
    transition: filter 200ms ease;

    &:hover {
        filter: blur(2px);
    }
}