.frame {
    border-radius: 100vw;
    padding: 16px 21px;
    font-family: 'Roboto Mono', system-ui, sans-serif;
    font-weight: 200;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    font-size: var(--size-500);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-primary));
}

.secondary {
    color: rgb(var(--color-black));
    background-color: rgb(var(--color-white));
}



.sm {
    padding: 12px 16px;
    font-size: var(--size-400);
}

.md {
    padding: 16px 21px;
    font-size: var(--size-500);
}

.lg {
    padding: 16px 32px;
    font-size: var(--size-600);
}

.tertiary {
    color: rgb(var(--color-black));
    background-color: transparent;
    text-transform: inherit;
    text-decoration: underline;
    padding: 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.disabled {
    opacity: 0.5;
}