.frame {
    margin-inline: auto;
    min-height: 100vh;
    overflow: hidden;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    max-width: var(--layout-md);
}

.gutter {
    max-width: var(--layout-lg);
}

.full {
    max-width: 100%;
}

.video {
    position: absolute;
    inset: 0;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
}