.container {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 72rem;
    margin: 0 auto;
    padding: 1.5rem;
    gap: 1.5rem;
}

.staffGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
}

.header {
    background-color: rgb(var(--color-primary));
    border-radius: 1rem;
    padding: 3rem;
    color: rgb(var(--color-white));
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .wrapper {
        max-width: 100%;
        padding: 1rem;
        padding-top: 5rem;
    }

    .staffGrid {
        margin-top: 2rem;
        gap: 1.5rem;
    }
}