.frame {
    background: rgb(var(--color-background-tint));
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.elevation-md {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 2rem;
}